
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"> Search results </h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h3>Founded Cites</h3>

            @if (ViewBag.searchResultsCites.Count == 0)
            {
                <p> We didn't find any cites, that matched your query. </p>
            }

            <ul>
                @foreach (var searchResult in ViewBag.searchResultsCites)
                {
                <li>
                    <a href="/Search/SiteToPage/@searchResult.Id">@searchResult.Name</a>
                    <p> @searchResult.Description </p>
                </li>
                }
            </ul>
        </div>

        <div class="col-md-2">
            <h3>Founded Pages</h3>
            
            @if (ViewBag.searchResultsPages.Count == 0)
            {
                <p> We didn't find any pages, that matched your query. </p>
            }

            <ul>
                @foreach (var searchResult in ViewBag.searchResultsPages)
                {
                <li><a href="/Search/ToPageById/@searchResult.Id">@searchResult.Name</a></li>
                }
            </ul>

        </div>

        <div class="col-md-2">
            <h3>Founded Tags</h3>

            @if (ViewBag.searchResultsTags.Count == 0)
            {
                <p> We didn't find any tags, that matched your query. </p>
            }

            <ul>
            @foreach (var searchResult in ViewBag.searchResultsTags)
            {
                <li><a href="/Search/Tag/@searchResult.Name">@searchResult.Name</a></li>
            }
           </ul>
        </div>

        <div class="col-md-2">
            <h3> Founded Comments </h3>

            @if (ViewBag.searchResultsComments.Count == 0)
            {
                <p> We didn't find any comments, that matched your query. </p>
            }

            <ul>
            @foreach (var searchResult in ViewBag.searchResultsComments)
            {
                <li><a href="/Search/CommentToPage/@searchResult.Id">@searchResult.Content</a></li>
            }
            </ul>
        </div>

        <div class="col-md-2">
            <h3> Founded Text in Pages</h3>

            @if (ViewBag.searchResultsMarkdown.Count == 0)
            {
                <p> We didn't find any mathches in texts, that matched your query. </p>
            }

            <ul>
            @foreach (var searchResult in ViewBag.searchResultsMarkdown)
            {
                <li><a href="/Search/MarkdownToPage/@searchResult.Id">@searchResult.Data</a></li>
            } 
           </ul>
            </div>
        </div>
</div>