@model SiteBuilder.Models.AddSite

@{
    ViewBag.Title = "CreateSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/tags");   
}

<h2 class="text-center">CreateSite</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @{
                var listTags = "";

                foreach (var tag in ViewBag.Tags)
                {
                    listTags += tag + ",";
                }

                <input type="hidden" id="listTags" value="@listTags">
            }
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.UserId, new { Value = ViewBag.UserId })
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", type = "text" })
                </div>
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="inputTypeMenu">Type menu</label>
                    <select name="TypeMenuId" id="inputTypeMenu" class="form-control">
                        @foreach (var TypeMenu in ViewBag.TypeMenus)
                        {
                            <option value="@TypeMenu.Id">@TypeMenu.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Style color</label>
                    <select name="StyleTypeId" class="form-control">
                        @foreach (var style in ViewBag.StyleTypes)
                        {
                            <option value="@style.Id">@style.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input name="Tags" id="singleFieldTags2" value="" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            }
        </div>
    </div>
</div>

