@model SiteBuilder.Models.Page

@{
    ViewBag.Title = "CreatePage";
}

 @section Styles {    
    <link href="~/Content/CreatePage.css" rel="stylesheet" />
 }


<h1 class="text-center">CreatePage</h1><br>


<div class="container">
    <div class="row">

        <div class="col-sm-6" id="nameForm">
            <div class="center">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPage" }))
                {
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.SiteId, new { Value = @ViewBag.SiteId, id = "inputSiteId" })
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", type = "text", id = "inputPageName" })
                    </div>
                            <button type="button" onclick="submitForm(@Enumerable.Count(ViewBag.Pages)+1)" class="btn btn-default">Submit</button>
                }
            </div>

         </div>

        <div class="col-sm-6">

            <div class="center">
                <label class="text-center">Pages in this site</label>
            </div>

            <section>
                <ul class="funcs">
                    @foreach (var Page in ViewBag.Pages)
                    {
                        <li id="@Page.Id" class="text-center">@Page.Name</li>
                    }
                </ul>
            </section>
        </div>
     </div>


    <div class="row">
        <div class="col-sm-6">

            <h4 class="text-center">Select layout type:</h4>
            <div class="button-center">
                @{
                    int counter = 1;
                    foreach (var template in ViewBag.Templates)
                    {
                        <button type="button" class="btn btn-info" id="@template.Name" value="@template.CountBlocks" onclick="loadTemplate(this)">@counter</button>
                        counter++;
                    }
                }
            </div>
        </div>
        <div class="col-sm-6">
            <h4 class="text-center">Add content to layout:</h4>
            <div class="text-center">
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-64.png" id="image" />
                <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/24.TV-64.png" id="video" />
            </div>
            </div>
        </div>
</div>



    <div id="layout"></div>

@section Scripts {
    <script src="~/Scripts/zepto.min.js"></script>
    <script src="~/Scripts/zepto.dragswap.js"></script>
    <script src="~/Scripts/pageSort.js"></script>
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/loadstarttemplate")
    @Scripts.Render("~/bundles/loadtemplate")
}