@model SiteBuilder.Models.Site

@{
    ViewBag.Title = "EditSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Site</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="inputTypeMenu">Type menu</label>
                    <select name="TypeMenuId" id="inputTypeMenu" class="form-control">
                        @foreach (var typeMenu in ViewBag.typeMenus)
                        {
                            if (Model.TypeMenuId != typeMenu.Id)
                            {
                                <option value="@typeMenu.Id">@typeMenu.Name</option>
                            }
                            else
                            {
                                <option selected value="@typeMenu.Id">@typeMenu.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Style color</label>
                    <select name="StyleTypeId" class="form-control">
                        @foreach (var style in ViewBag.styleTypes)
                        {
                            if (Model.StyleTypeId != style.Id)
                            {
                                <option value="@style.Id">@style.Name</option>
                            }
                            else
                            {
                                <option selected value="@style.Id">@style.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br><br>
<div class="text-center">
<a href="/SiteBuilder/ListPagesEdit/@ViewBag.Id"><button class="btn btn-info">Edit pages</button></a>
</div><br><br>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

