
@{
    int variable = ViewBag.siteInfo.TypeMenuId;

    if (variable == 2)
    {
        Layout = "~/Views/Shared/_LayoutSidebarShowPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTopbarShowPage.cshtml";
    }
}

@section Styles {
    @Styles.Render("~/Content/bootstrap-" + ViewBag.siteInfo.StyleType.Name)
    @Styles.Render("~/Content/bootstrap-touchspin")
    @Styles.Render("~/Content/comments")
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
}

        <input type="hidden" value="@ViewBag.templateData.Name" id="templateName" />
        <input type="hidden" value="@ViewBag.templateData.CountBlocks" id="countBlocksTemplate" />
        <input type="hidden" value="@ViewBag.id" id="idPage" />
        <input type="hidden" value="@ViewBag.userId" id="idUser" />
        <input type="hidden" value="@ViewBag.siteInfo.Id" id="idSite" />
@{
    int counter = 1;

    foreach (var content in ViewBag.contentList)
    {

                <input type="hidden" value="@content.Data" class="@content.ContentType.Name" id="content_@counter">

            counter++;
        }
    }

    <div class="container">
            <div id="layout"></div>
            <div id="comments"></div>
    </div>
