@model SiteBuilder.Models.UserInfo

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @if (Model.Profile.UserName == User.Identity.Name)
    {
        @Scripts.Render("~/bundles/editsitepanel")
    }    
}

<h2 class="text-center">Profile user @Model.Profile.UserName.</h2>
<div class="text-center">
    @if (Model.Profile.UserName == User.Identity.Name)
    {
        <a href="/SiteBuilder/CreateSite/" class="btn btn-info">Create site</a>
    }
</div><br><br>
<h3 class="text-center">Achievement:</h3>
<div class="achievement">
    @{
        if (ViewBag.achievements.Count == 0)
        {
            <h5 class="text-center">You don`t have any achievements yet.</h5>
        }
        else
        {
            foreach (var achievement in ViewBag.achievements)
            {
                <img src="@achievement.AchievementType.Image" />
                <h5>@achievement.AchievementType.Text</h5>
            }
        }
    }
</div><br>
<div class="container-table-site">
    <h3 class="text-center">Sites:</h3><br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var site in Model.Sites)
                {
                    <tr class="userSite">
                        <td class="@site.NameUser" id="@site.NameSite"><a href="/SiteBuilder/Show/@site.NameUser/@site.NameSite/@site.NamePage/">@site.NameSite</a></td>
                        <td>@site.Description</td>
                        <td>
                            @foreach (var tag in site.TagSite)
                            {
                                <a href="/Search/Tag/@tag.Tag.Name/"><button class="btn btn-success">@tag.Tag.Name</button></a>                                
                            }
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>



