@{
    ViewBag.Title = Resources.Resource.ApplicationName;
}

    <h1 class="text-center">@Resources.Resource.ApplicationName - @Resources.Resource.DescriptionMainPage</h1>

    @if (Request.IsAuthenticated)
    {
        <div class="text-center">
            <a href="/SiteBuilder/CreateSite/" class="btn btn-info">@Resources.Resource.CreateSite</a>
        </div>
    }


    <div id="tagcloud" class="centre" style="width: 500px; height: 300px; position: relative;"></div>


    <h3 class="text-center">@Resources.Resource.LastCreateSites</h3>

    @foreach (var site in @ViewBag.sites)
    {
        <p class="last-create-site">@Html.ActionLink((string)site.NameSite, "Show", "SiteBuilder", new { parameter1 = (string)site.NameUser, nameSite = (string)site.NameSite, page = (string)site.NamePage }, null) @Resources.Resource.CreateUser - @Html.ActionLink((string)site.NameUser, "Info", "User", new { parameter1 = (string)site.NameUser }, null)</p><br>
    }

    @section Scripts
    {
        @Scripts.Render("~/Scripts/jquery.min.js")
        @Scripts.Render("~/Scripts/jqcloud.min.js")
        @Styles.Render("~/Content/jqcloud.min.css")

    <script>
        var words = [
            @foreach (var tag in ViewBag.Tags)
            {
                <text>
                { text: "@tag.Name", weight: @tag.Count, link: '/Search/Tag/@tag.Name' },
                </text>
            }
        ];

    $(document).ready(function() {
       $("#tagcloud").jQCloud(words);
    });

    </script>
    }
