@{
    ViewBag.Title = Resources.Resource.ApplicationName;
}

<h1 class="text-center">@Resources.Resource.ApplicationName - @Resources.Resource.DescriptionMainPage</h1>
<h3 class="text-center">@Resources.Resource.CloudTags<h3>
<h3 class="text-center">@Resources.Resource.LastCreateSites</h3>
<br>
@foreach (var site in @ViewBag.sites)
{
    <p class="last-create-site"><a href="#">@site.Name</a> @Resources.Resource.CreateUser - <a href="#">@site.UserId.</a></p><br>
}