<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Flags/css/flag-icon.min.css")
    @Styles.Render("~/Content/Flags/assets/docs.css")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Resource.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink(Resources.Resource.Main, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Resource.Sites, "Index", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            @if (Request.Cookies["lang"] != null && Request.Cookies["lang"].Value == "ru")
                            {
                                <span class="flag-icon flag-icon-ru"></span>
                            }
                            else
                            {
                                <span class="flag-icon flag-icon-us"></span>
                            }
                            
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='@Url.Action("ChangeCulture", "Home", new { lang = "en" }, null)'>
                                    <span class="flag-icon flag-icon-us"></span> English
                                </a>                           
                            </li> 
                            <li>
                                <a href='@Url.Action("ChangeCulture", "Home", new { lang = "ru" }, null)'>
                                    <span class="flag-icon flag-icon-ru"></span> Russian
                                </a>
                            </li>                           
                        </ul>
                    </li>

                        @Html.Partial("_LoginPartial")
                    </ul>

                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
</div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.ApplicationName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>